body {
    font-family: Arial;
}

h1 {
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
}

.col {
    width: 50%
}

.bar {
    fill: blueviolet;
}

  /* tooltip styling */
.tooltip {
    position: absolute;
    background-color: lightgray;
    padding: 7px;
    width: 150px;
}