body {
    font-family: Arial;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6, .center {
    text-align: center;
}

button {
    width: 100px;
    margin: auto;
}

.inputs {
    width: 25%;
    margin: auto;
    background-color: lightgray;
    border-radius: 10px;
    border: 2px solid darkgray;
    padding-bottom: 10px;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
}

.col {
    width: 50%
}

.bar {
    fill: blueviolet;
}

.median {
    fill: lightgreen !important;
}

/* tooltip styling */
.tooltip {
    position: absolute;
    background-color: lightgray;
    padding: 7px;
    width: 150px;
}